
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

body{
  background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.motto{
  font-size: 6vmin;
  font-weight: 900;
  color: black;
  margin-left: 2cm;
  margin-top: 2cm;
  
  
}
.motto2{
  color: rgb(236, 170, 27);
  margin-left: 2cm;
  font-size: 6vmin;
  font-weight: 600;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.info{
  font-size: 6vmin;
  color: black;
  margin-left: 2cm;
  font-weight: 700;
}
.bg-color{
  background-color: #eca305 !important;
  padding: 20px !important;

}
a.active,a:hover{
  color: #fdfdfd!important;
 
}
.btn-color{
  background: rgb(10, 10, 10)!important;
  border: 1px solid #0a0a0a!important;
  border-radius: 50px!important;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px!important;
  width: 40vmin;

  color: #fdf9f9!important;
  
  display: inline-block!important;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif!important;
  font-size: 16px!important;
  font-weight: 900!important;
  line-height: 16px!important;
  min-height: 40px!important;
  outline: 0!important;
  padding: 12px 14px!important;
  margin-left: 2cm;

}
.btn-color:hover,
.btn-color:active {
  background-color: initial !important;
  background-position: 0 0 !important;
  color: rgb(15, 15, 15)!important;
}

.btn-color:active {
  opacity: .5!important;
}