*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

body{
  background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.motto{
  font-size: 6vmin;
  font-weight: 900;
  color: black;
  margin-right: 2cm;
  margin-top: 2cm ;
  
  
}
.motto2{
  color: rgb(223, 22, 22);
  
  font-size: 6vmin;
}
.about{
  text-align: center;
  font-size: 4vmin;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  background-color: #1b1b1b;
  margin-top: 3.5cm;
  padding-top: 1cm;
  padding-bottom: 1cm;
  
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.info{
  font-size: 1cm;
  color: black;
}
.bg-color{
  background-color: #36fa9f !important;
}